$light-violet: #cdb4db;
$light-rose: #ffc8dd;
$light-red: #ffaffc;
$light-blue: #bde0fe;
$light-dark-blue: #a2d2ff;

$dark-violet: #400165;
$dark-rose: #c22e64;
$dark-red: #6f002b;
$dark-blue: #17568c;
$dark-dark-blue: #002f5b;

$white: #ffffff;
$black: #000000;
