@import './variables';

.title {
  color: $dark-dark-blue;

  &.dark {
    color: $light-blue;
  }

  &--not-found-page {
    margin-top: 15px;
    font-size: 40px;

    @media screen and (max-width: 600px) {
      font-size: 28px;
    }

    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }
}
